#body{
    background-color:rgb(3, 3, 44);
    
    text-align: center;

    
}
#all{
    padding:100px;
    border:10px solid rgba(59, 56, 237, 0.37);
    font-family: sans-serif;
    border-radius: 30px;
    margin:auto;
    width:fit-content;


}
#test{
    text-align: center;
    font-size: larger;
    font-family: sans-serif;
    color:rgb(255, 255, 255) ;
    letter-spacing: 5px;
    text-shadow:5px 5px 25px rgb(255, 0, 255);
    
    border-style: 2px rgb(0, 255, 200);
    border-radius: 20px;

}
#message{
    text-align: center;
    color: honeydew;
    letter-spacing:4px;
    font-size: medium;
    font-family: sans-serif;
    padding:10px;
}
#ttt{
    color:white;
    text-align:center;
    padding: 5px;
    border:2px rgb(169, 35, 35);
    font-family: sans-serif;
    border-radius: 30px;

}